/* .footer {
    background-color: #fff;
    border-top: 4px solid black;
    padding: 30px;
    text-align: right;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 4%;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
    align-items: flex-end;
  } */
  .footer {
    background-color: #fff;
    border-top: 4px solid black;
    padding: 30px;
    text-align: right;
}

.footer-logo {
    display: flex;
    justify-content: center; /* ממקם את הלוגו במרכז */
    align-items: center;
    margin-bottom: 20px; /* רווח בין הלוגו לשאר התוכן */
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 4%;
}

  
  .footer-section {
    flex: 1;
    min-width: 150px;
    margin: 10px;
  }
  
  .footer-section h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .footer-section p {
    font-size: 14px;
    margin: 5px 0;
  }
  