.footer {
    background-color: #fff;
    border-top: 4px solid black;
    padding: 20px;
    text-align: right;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .smart {
    color: gray;
  }
  
  .light {
    color: green;
  }
  
  .footer-section {
    flex: 1;
    min-width: 150px;
    margin: 10px;
  }
  
  .footer-section h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .footer-section p {
    font-size: 14px;
    margin: 5px 0;
  }
  