
  */
  .whatsapp-icon:hover {
     /* background-color: #aaed99; */
    transform: scale(1.1); 
  }
   
  .whatsapp-icon {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 60px; 
    height: 60px;
    z-index: 1000; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
    border-radius: 50%; 
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 

  }
  